<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALPYdjWYND07aF1mkPdiv11TuUal8A7WU</string>
	<key>GCM_SENDER_ID</key>
	<string>677500165840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serenaygunes.wordApp1</string>
	<key>PROJECT_ID</key>
	<string>wordapp1-738df</string>
	<key>STORAGE_BUCKET</key>
	<string>wordapp1-738df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677500165840:ios:08ce2efa0736ed5fb848d5</string>
</dict>
</plist>